button {
  border: 0;
  outline: none;
  background-color: transparent;
  appearance: none;
}

.controls {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
}

.game-info {
  $bg-color: #D3DDED;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  background-color: $bg-color;
  cursor: default;

  .info-bg {
    position: absolute;
    bottom: 0;
    z-index: 105;
    fill: $bg-color;

    &.info-bg-lt {
      right: 100%;
    }

    &.info-bg-rt {
      left: 100%;
    }
  }
}

.game-info-counter {
  $text-color: #515969;

  display: block;
  padding: 0 8px;
  color: $text-color;
  line-height: $space * .75;
  text-transform: uppercase;

  .digit {
    padding-left: 4px;
  }
}

.control-sect {
  $bg-clr: $grey50;
  $bg-hvr-clr: lighten($grey50, 1%);
  $txt-clr: $grey500;
  $txt-hvr-clr: darken($grey500, 5%);

  position: absolute;
  bottom: 0;
  background-color: $bg-clr;
  color: $bg-clr; // svg fill ingerits from this

  &:hover {
    background-color: $bg-hvr-clr;
    color: $bg-hvr-clr;
  }

  &.control-sect-lt {
    right: 100%;
    padding-right: $pad-and-half;
  }

  &.control-sect-rt {
    left: 100%;
    padding-left: $pad-and-half;
  }

  button {
    min-width: 90px;
    padding: 9px $pad;
    transition: color .15s ease;
    background-color: transparent;
    color: $txt-clr;
    font-size: 13px;
    font-weight: 500;
    line-height: $space;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $txt-hvr-clr;
    }
  }
}

.info-btn-bg {
  position: absolute;
  bottom: 0;
  fill: currentColor;

  &.info-btn-bg-rt {
    left: 100%;
  }

  &.info-btn-bg-lt {
    right: 100%;
  }
}
