button {
  border: 0;
  outline: none;
  background-color: transparent;
  appearance: none;
}

.controls {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
}

.game-info {
  $bg-color: $grey300;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  background-color: $bg-color;

  .info-bg {
    position: absolute;
    bottom: 0;
    z-index: 105;
    fill: $bg-color;

    &.info-bg-lt {
      right: 100%;
    }

    &.info-bg-rt {
      left: 100%;
    }
  }
}

.game-info-counter {
  display: block;
  padding: 0 8px;
  color: $grey700;
  line-height: $space * .75;
  text-transform: uppercase;

  .digit {
    padding-left: 4px;
  }
}

.control-sect {
  position: absolute;
  bottom: 0;
  background-color: $grey50;
  color: $grey50;

  &.control-sect-lt {
    right: 100%;
    padding-right: $pad-and-half;
  }

  &.control-sect-rt {
    left: 100%;
    padding-left: $pad-and-half;
  }

  button {
    min-width: 90px;
    padding: 9px $pad;
    background-color: transparent;
    color: $grey500;
    font-size: 13px;
    font-weight: 500;
    line-height: $space;
    text-transform: uppercase;
  }
}

.info-btn-bg {
  position: absolute;
  bottom: 0;
  fill: currentColor;

  &.info-btn-bg-rt {
    left: 100%;
  }

  &.info-btn-bg-lt {
    right: 100%;
  }
}
