.players {
  position: relative;
}

// color bar across the top of the names / scores
$player-bar-height: 6px;

.player-bars {
  display: flex;
  position: relative;
  left: -15%;
  width: 130%;
  height: $player-bar-height;

  .bar {
    width: 50%;
    height: 100%;

    &.lt {
      background: linear-gradient(to right, rgba($primary-clr, 0) 0%, rgba($primary-clr, 1) 20%);
    }

    &.rt {
      background: linear-gradient(to left, rgba($secondary-clr, 0) 0%, rgba($secondary-clr, 1) 20%);
    }
  }
}

// score cards
.scores-box {
  position: absolute;
  top: $player-bar-height;
  left: 50%;

  transform: translateX(-50%);

  box-shadow: 0 -1px 6px 2px rgba($black, .16);
}

.scores {
  @extend %float;
}

.score {
  position: relative;
  font-family: 'Nova Mono';
}

$score-lt-clr: $primary-clr;
$score-rt-clr: $secondary-clr;

.score-bg {
  position: absolute;
  top: 0;
  stroke: none;

  .lt & {
    right: 100%;
    fill: $score-lt-clr;
  }

  .rt & {
    left: 100%;
    fill: $score-rt-clr;
  }
}

.score-val {
  $side-dim: 48px;

  width: $side-dim;
  height: $side-dim;
  text-align: center;
  line-height: 48px;
  font-size: 28px;
  color: $grey900;

  .lt & {
    background-color: $score-lt-clr;
  }

  .rt & {
    background-color: $score-rt-clr;
  }
}

// player name cards
$name-bg: rgba($grey100, 1);

.player-names {
  display: flex;
  flex-direction: row;
  background-color: $name-bg;
}

.player-name {
  position: relative;
  width: 200px;
  height: 42px;
}

.name-bg {
  display: block;
  position: absolute;
  top: 0;
  fill: $name-bg;
  stroke: none;
  stroke-width: 0;

  .lt & {
    right: 100%;
  }

  .rt & {
    left: 100%;
  }
}

.name-text {
  $outer-offset: 16px;
  $inner-offset: 54px;

  .lt & {
    padding-right: $inner-offset;
    padding-left: $outer-offset;
    // text-align: left;
  }

  .rt & {
    padding-right: $outer-offset;
    padding-left: $inner-offset;
    // text-align: right;
  }
}

.name-text-inpt {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  line-height: 24px;
  font-size: 15px;
  font-weight: 500;
  color: $grey800;
  text-transform: uppercase;

  .lt & {
    text-align: left;
  }

  .rt & {
    text-align: right;
  }

  &::placeholder {
    color: $grey400;
  }

  &:focus,
  &:hover {
    &::placeholder {
      color: $grey500;
    }
  }
}
