// SPACING
// ----------------
$pad: 8px;
$pad-half: $pad / 2;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$space: 24px;
$space-half: $space / 2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;

// COLORS
// ----------------
$primary-clr: #ff7598;
$secondary-clr: #57b9f2;
$turquoise: #47e5bc;
$green: #9ee493; // granny smioth apple

$white: #fff;
$black: #000; // $grey50: #fff;

$grey50: #f2f2f2;
$grey100: #ededed;
$grey200: #d8d8d8;
$grey300: #cbcbcb;
$grey400: #afafaf;
$grey500: #909090;
$grey700: #717171;
$grey800: #525252;
$grey900: #363636;

// EXTENDS
// ----------------

%float {
  display: flex;
  flex-direction: row;
}

%pseudo-block {
  &::after,
  &::before {
    display: block;
    position: absolute;
    content: '';
  }
}
